---
layout: default
section_id: models
path: models
---

<div class="full" style="background: #f5f5f5;">
  <div class="row">
    <div class="large-12 columns">
      {% assign reverse_models = site.data.models | reverse %} {% for model in
      reverse_models %}
      <h3>{{ model.title }}</h3>
      <p><i> {{ model.citation }} </i></p>
      <p>{{ model.description }}</p>
      {% for link in model.links %} <a href="{{link.url}}">{{link.text}}</a> {%
      if forloop.last == false %} , {% endif %} {% endfor %}
      <hr />
      {% endfor %}
    </div>
  </div>
</div>
