---
layout: default
category: people
title: The team
listImage: "/images/members/team.jpeg"
description: Who are we?
path: people/team
---

<div class="full">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="The team" %}
      <div class="spacing"></div>
      {% for member in site.data.members %}
      <div class="row" id="{{member.name | url_encode}}" style="padding-top:60px;"> <!-- Padding added manually to avoid the height of the bar -->
        <div class="small-6 medium-3 large-3 columns">
          <div class="mod modTeamMember">
            <div class="member">
              <img class="avatar" alt="" src="{{ member.avatar }}" />
              <div class="overlay">
                <div class="intro">
                  <h3>{{member.name}}</h3>
                  <p>{{member.position}}</p>
                  <ul class="socials">
                    {% for social in member.socials %}
                    <li>
                      <a href="{{social.link}}" target="_blank">
                        <i class="fa fa-{{social.icon}}"></i>
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="small-6 medium-9 large-9 columns">
          <h3>{{member.name}}</h3>
        </div>
        <div class="small-12 medium-9 large-9 columns">
          <p>{{member.desc}}</p>
          <div class="two spacing"></div>
        </div>
      </div>
      {% endfor %} <br />

      <h3>Past Members</h3>
      <hr />
      {% for member in site.data.alumni %}
      <div class="row" id="{{member.name | url_encode}}" style="padding-top:60px;"> <!-- Padding added manually to avoid the height of the bar -->
        <div class="small-6 medium-3 large-3 columns">
          <div class="mod modTeamMember">
            <div class="member">
              <img class="avatar" alt="" src="{{ member.avatar }}" />
              <div class="overlay">
                <div class="intro">
                  <h3>{{member.name}}</h3>
                  <p>{{member.position}}</p>
                  <ul class="socials">
                    {% for social in member.socials %}
                    <li>
                      <a href="{{social.link}}" target="_blank">
                        <i class="fa fa-{{social.icon}}"></i>
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="small-6 medium-9 large-9 columns">
          <h3>{{member.name}}</h3>
        </div>
        <div class="small-12 medium-9 large-9 columns">
          <p>{{member.desc}}</p>
          <div class="two spacing"></div>
        </div>
      </div>
      {% endfor %} <br />
    </div>
  </div>
</div>
